@import url();
/* url de fuentes */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* navbar start */
.navbar{
    background-color: #193b51;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    width: 100%;
}
    .tittle-nav{
        color: white;
        margin-left: 10px;
    }
    .options{
        visibility: hidden;
        margin-right: 20px;
        width: 40%;
        display: flex;
        justify-content: space-between;
    }
        .link-op{
            text-decoration: none;
            color: white;
        }
    .deploy-button{
        margin-right: 20px;
        border: none;
        outline: none;
    }
    .deploy-button-img{
        width: 32px;
        border: none;
        outline: none;
    }
        .link-op-dep{
            border:none;
            outline: none;
            width: 100%;
            height: 70px;
            color: white;
            cursor: pointer;
        }
        #dep-op-num-1{
            background-color: #193b51;
        }
        #dep-op-num-2{
            background-color: #1a4e6d;
        }
        #dep-op-num-3{
            background-color: #18628a;
        }
        #dep-op-num-4{
            background-color: #0e76a8;
        }
/* navbar end */

@media (min-width: 768px){
    /* navbar start */
    .deploy-button{
        visibility: hidden;
    }
    .options{
        visibility: visible;
    }
    /* navbar end */
}

@media (min-width: 1024px) {

}